.navbar{
  position: absolute;
  top: 10px;
  right: 10px;
  @at-root #{&}__container {
    margin: 0 auto;
    text-align: center;
  }
  @at-root #{&}__list-item {
    display: inline;
    padding: 0 10px;
    a{
      text-decoration: none;
      color: $white;
    }
  }

  //navbar attributes
  @at-root #{&}--right {
    text-align: right;
    margin: 25px;
  }
  @at-root #{&}--list-active {
    a{
      color: $greyc;
    }
  }
}
