body{
  h1{
    color: purple;
  }
  h2{
    color: lime;
    background: whitesmoke;
  }
  p{
    background: red;
    color: blue;
  }
  article{
    padding: 2em;
    background: blue;
    color: red;
  }
}
