$black: #000;

$brownb1: #b1a599;
$brown64: #64584d;
$brown77: #776b60;

$green51: #51ae7d;

$grey5c: #5c5146;

$grey6: #666;
$grey8d: #8d8172;
$greyc: #ccc;
$greyd8: #d8d4cf;
$greye5: #e5e0dd;
$greyf6: #f6f1ed;

$orangee9: #e96641;

$skincb: #cb8774;
$skinbc: #bca585;

$white: #fff;

$yellowe9: #e9c765;
