body{
  background-image: url(../../build/images-op/fondoBg.png);
  //@include gradient( $skincb , $skinbc );
  font-family: $fte-openSans--regular;
  @include rem(16);
}
li, a, p, h1, h2, h3, h4, h5{
  text-shadow: 1px 1px $grey6;
  color: $white;
}
h2, h3, h4, h5{
  font-family: $fte-openSans--semibold;
  text-transform: uppercase;
  text-align: center;
}
h1{
  @include rem(32);
  font-family: $fte-openSans--bold;
  text-transform: uppercase;
  text-align: center;
}
h2{
  @include rem(20);
}
.caja-cambio-idioma__button{
  background: $white;
  display: inline;
  float: left;
  padding: 10px 10px;
  font-family: $fte-openSans--bold;
  text-transform: uppercase;
  color: $grey5c;
  border: none;
  border-radius: 7px;
  position: absolute;
  top: 10px;
  left: 10px;
  @include rem(13);
  &:hover{
    background: $greyf6;
    border-bottom: 3px solid $green51;
    cursor: pointer;   
  }
}
